# System files
.DS_Store
.phplint.cache
build.properties
build
selenium-server.jar
node_modules
npm-debug.log
tests/wp-tests-config.php

# IDE
.idea
nbproject

# Vagrant
.vagrant
varrgrant.json

# Composer
vendor