# System files & Artifacts
.DS_Store
.phplint.cache
build.properties
build
selenium-server.jar
node_modules
npm-debug.log

# IDE
.idea
nbproject

# Vagrant
.vagrant
varrgrant.json

# Composer
vendor

# Project files
tests/wp-tests-config.php