<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    strict="true"
    verbose="true"
    printerFile="vendor/whatthejeff/fab-phpunit-resultprinter/src/Fab/PHPUnit/ResultPrinter.php"
    printerClass="Fab\PHPUnit\ResultPrinter"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/unit/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">tests/integration/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="junit" target="build/logs/junit.xml" />
        <log type="coverage-clover" target="build/logs/clover.xml" />
        <log type="coverage-html" target="build/coverage" />
    </logging>

    <filter>
        <whitelist>
            <directory>includes/</directory>
            <file>autoload.php</file>
            <file>uninstall.php</file>
        </whitelist>
    </filter>
</phpunit>